@inject IConfiguration Configuration

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title - Poyo</title>
    
    @if (ViewBag.Description != null)
    {
        <meta name="description" content="@ViewBag.Description" />
    }

    @if (ViewBag.MetaTags != null)
    {
        foreach (var tag in (Dictionary<string, string>)ViewBag.MetaTags)
        {
            var key = tag.Key;
            var att = key.StartsWith("og:") ? "property" : "name";
            <meta @att="@key" content="@tag.Value" />
        }
    }

    @if (ViewBag.JsonLd != null)
    {
        <script type="application/ld+json">
            @Html.Raw(ViewBag.JsonLd)
        </script>
    }
</head>

<body class="bg-gray-50 font-sans">
    <!-- React components will be hydrated here -->
    @RenderBody()

    <script>
        @if (ViewBag.ServerData != null)
        {
            @:window.SERVER_DATA = @Html.Raw(ViewBag.ServerData);
        }
    </script>

    <!-- Load built React app -->
   <environment include="Development">
        @{
            var viteDevServer = Configuration["Vite:Server:DevServerUrl"];
        }

        <link rel="stylesheet" vite-href="~/src/main.tsx" />

        <script type="module">
            import RefreshRuntime from '@(viteDevServer)/@@react-refresh'
            RefreshRuntime.injectIntoGlobalHook(window)
            window.$RefreshReg$ = () => {}
            window.$RefreshSig$ = () => (type) => type
            window.__vite_plugin_react_preamble_installed__ = true
        </script>

        <script type="module"
                vite-src="~/src/main.tsx"
                asp-append-version="true">
        </script>
    </environment>
    <environment include="Production">
        @await Html.PartialAsync("_ReactAssets")
    </environment>
</body>

</html>

